<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>指令</title>
    <style>
        .a {
            background-color: red;
        }
        
        .b {
            background-color: green;
        }
    </style>
</head>
<script src="../node_modules/vue/dist/vue.js"></script>

<body>
    <div id="app"></div>
    <script>
        new Vue({
            //    el：发生行为的目的地
            el: '#app',
            //    template：装载的模版
            template: `
            <div>
                <ul>
                    <li v-for="(item,key) in stus" :class="item.score">{{key}}--{{item.name}}--{{item.score}}</li>
                </ul>
                <hr/>
                <ul>
                    <li v-for="(val,item,index) in stus2">
                     val:{{val}}
                     key:{{item}}
                     index:{{index}}    
                    </li>
                </ul>
            </div>
            `,
            data() {
                return {
                    stus: [{
                        name: '张三',
                        score: 'a'
                    }, {
                        name: '李四',
                        score: 'b'
                    }, {
                        name: '王五',
                        score: 'a'
                    }],
                    stus2: {
                        'A': '张三',
                        'B': '李四',
                        'C': '王五',
                        'D': '黑六',
                    }
                }
            },
        })
    </script>
</body>


</html>